<section class="categories">
  <button
    mat-button
    *ngFor="let category of categories"
    (click)="filterItemsByCategory(category)"
  >
    {{ category }}
  </button>
</section>
<section class="itemCards">
  <mat-card *ngFor="let item of items; let i = index" style="margin: 0.5rem">
    <button
      style="background: none; border: none"
      (click)="getItemDetail(item)"
    >
      <img
        mat-card-image
        src="{{ item.imgs + 'cover' + '.jpg' }}"
        style="width: 100%; align-self: center"
      />
    </button>

    <mat-card-header style="justify-content: center; text-align: center"
      ><mat-card-title>{{ item.name }}</mat-card-title>

      <mat-card-subtitle>{{ "$" + item.price }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</section>
