<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300&display=swap"
  rel="stylesheet"
/>
<mat-toolbar class="navbar">
  <mat-toolbar-row style="justify-content: space-between; padding: 0">
    <button mat-button [matMenuTriggerFor]="menu" class="iconButton">
      <mat-icon>menu</mat-icon><span>menu</span>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="" mat-button style="margin-right: 10px" color="primary">
        View All
      </a>
      <a
        routerLink="items/Women"
        mat-button
        style="margin-right: 10px"
        color="primary"
      >
        Women
      </a>
      <a
        routerLink="items/Men"
        mat-button
        style="margin-right: 10px"
        color="primary"
      >
        Men
      </a></mat-menu
    >
    <a routerLink=""><h1>MyCloset</h1></a>
    <div>
      <button mat-button (click)="openAccountPage()" class="iconButton">
        <mat-icon>person</mat-icon><span>Account</span>
      </button>
      <button
        mat-button
        (click)="openCart()"
        color="primary"
        class="iconButton"
      >
        <mat-icon>shopping_cart</mat-icon><span>Cart</span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
