<mat-card style="margin-top: 5rem">
  <mat-card-header>
    <mat-card-title>ACCOUNT</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userLoginData.Username"
          placeholder="Username"
          type="Username"
          name="Username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userLoginData.Password"
          type="password"
          placeholder="Password"
          name="Password"
          required
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="loginUser()" color="primary">
      Sign in
    </button>
    <div class="sign-in-or"><p>Or</p></div>
    <a routerLink="/registration"
      ><button mat-raised-button color="primary">Create an account</button></a
    >
  </mat-card-actions>
</mat-card>
