mat-card{
    align-items: center;
    margin: 5rem auto;
    width: 50%;
    padding: 1rem;
}
.mat-mdc-form-field{
    display: flex;
    margin-top: 2rem;
}
.sign-in-or{
    margin:1.5rem;
    border-top: 1px solid #d5d5d5;
    position: relative;
    display:flex;
    justify-content: center;
    width: 100%;
}

.sign-in-or p{
    position: absolute;
    padding: 10px;
    top: -36px;
    background-color: #ffff;
}

.mdc-button{
    display: block !important;
}

.mdc-card__actions{
    flex-direction: column;
}

.mat-mdc-card-header{
    font-size: 1.5rem;
}