.item_view{
    margin: 10rem auto;
    width: 80%;
}
.item_detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item_detail img{
    justify-self: end;
    width: 80%;
}

.item_detail div{
    margin-left: 2rem;
}

mat-form-field{
    display: block;
    width: 50%;
}

.header{
    display: flex;
    justify-content: space-between;
}

.moreImgs div img{
    width: 50%;
}