mat-card{
    margin: 5rem auto;
    width: 50%;
}

mat-card-header, mat-card-actions{
    justify-content: space-between;
}

@media only screen and (max-width:600px)  {
    mat-card{
        width: 90%;
    }
}